<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<display-name> Inventory Management</display-name>
	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:mysql://localhost:3306/inventory</param-value>
	</context-param>
	<context-param>
		<param-name>db.driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>db.username</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>root</param-value>
	</context-param>
	<listener>
		<listener-class>IMSServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>ItemServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/items</url-pattern>
	</servlet-mapping>
</web-app>
